<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="resources/css/custom.scss">
  <link rel="icon" type="image/png" sizes="96x96" href="resources/images/favicon-32x32.png">

  <!-- FONTES -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">
  <!-- FONTES -->

</head>
<body ng-app="myApp">

  <div layout-lg="row" layout-align-lg="center" flex-lg="100">

    <md-content layout-lg="column" layout-align-lg="center" flex-lg="35">

      <form name="FrmLogin" class="FrmLogin">

          <h1 class="df-text-center">
              <a class="df-text-hidden img-simbol-site" href="#">goMed</a>
          </h1>

          <p class="df-text-center df-title-font">Bem-vindo ao goMed</p>

          <md-input-container class="md-block" layout-lg="column" layout-align-lg="center" flex-lg="100">
            <label>E-mail:</label>
            <input required name="txtEmail" ng-model="login.txtEmail">
            <div ng-messages="FrmLogin.txtEmail.$error">
              <div ng-message="required">Este campo &eacute; obrigat&oacute;io</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" layout-lg="column" layout-align-lg="center" flex-lg="100">
            <label>Senha:</label>
            <input required name="txtSenha" ng-model="login.txtSenha">
            <div ng-messages="FrmLogin.txtSenha.$error">
              <div ng-message="required">Este campo &eacute; obrigat&oacute;io</div>
            </div>
          </md-input-container>

          <md-button class="md-raised md-primary df-button" layout-lg="column" layout-align-lg="center">Fazer login</md-button>
      </form>

      <p class="df-text-center df-text-p-md">
        N&atilde;o conhece o goMed ainda?
        <a href="#" class="df-text-center df-text-p-md df-text-color-gd df-text-blond">Experimente, &eacute; gr&aacute;tis!</a>
      </p>

    </md-content>

  </div>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.js"></script>
  <script src="resources/js/app.js"></script>
  <!-- Your application bootstrap  -->


</body>
</html>
