<html lang="pt" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="resources/css/custom.css">
  <link rel="icon" type="image/png" sizes="96x96" href="resources/images/favicon-32x32.png">

  <!-- FONTES -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed|Roboto|Sanchez|Source+Serif+Pro|Poppins|Muli|Lato" rel="stylesheet">
  <!-- FONTES -->

</head>
<body class="bd-login" layout="row" ng-app="myApp">

  <md-content class="div-tl-login bg-color-login" layout="row" flex="100" layout-margin layout-align="center center">

    <div class="div-lf-login" layout="row" layout-align="center start" layout-padding flex="100" flex-xs="0" hide show-gt-xs>

      <div layout="column" layout-align="center start" flex="100">

        <p class="df-text-p-gd df-text-color-white df-text-blond">
           Ainda n&atilde;o conhece o &nbsp;goMed?
        </p>

        <p class="df-text-p-md df-text-color-white">
          Deixe-nos te surpreender organizando e trazendo melhores rendimentos para seu consult&oacute;rio.</br>

          <a href="#"
             class="df-text-p-pq df-text-color-white df-text-blond"
             title="Experimente, &eacute; gr&aacute;tis!">
             Experimente, &eacute; gr&aacute;tis!
          </a>

        </p>

      </div>

    </div>

    <div class="div-rg-login" layout="row" layout-align="center center" flex="100" >

      <md-card class="card-login" layout="column" flex="60" flex-xs="100" layout-align="center center">

        <form name="FrmLogin"
                class="FrmLogin"
                novalidate
                ng-submit="login.autenticacao()"
                flex>

          <h1 class="df-text-center">
              <a class="df-text-hidden img-simbol-site" href="#" title="goMed">goMed</a>
          </h1>

          <p class="df-text-center df-title-font">Bem-vindo ao goMed</p>

          <md-input-container class="md-block">
            <label>E-mail:</label>
            <input required name="txtEmail" ng-model="login.txtEmail">
            <div ng-messages="FrmLogin.txtEmail.$error">
              <div ng-message="required">Este campo &eacute; obrigat&oacute;io</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Senha:</label>
            <input required name="txtSenha" ng-model="login.txtSenha">
            <div ng-messages="FrmLogin.txtSenha.$error">
              <div ng-message="required">Este campo &eacute; obrigat&oacute;io</div>
            </div>
          </md-input-container>

          <md-button class="md-raised md-primary df-button"
                     title="Acessar o goMed."
                     ng-disabled="customerForm.$invalid">
                     Fazer login
          </md-button></br>

          <a href="#"
             class="df-text-p-pq df-text-color-logo df-text-center lk-recup-senha"
             title="Clique aqui para recuperar sua senha."
             layout="column" flex>
             Recuperar senha?
          </a>

        </form>
      </md-card>

    </div>

  </md-content>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.js"></script>
  <script src="app/app.js"></script>
  <!-- Your application bootstrap  -->

</body>
</html>
