/* TAG GERAIS - INICIO */
a {
  text-decoration: none;
}

/* Definições de botão */
.df-button {
  width: 100%;
  text-transform: none !important;
  color: #fff !important;
  background-color: #00CCFF !important;
  cursor: pointer;
  margin: 0 auto;
}
/* Definições de botão */

/* Definições de texto */
.df-text-hidden{
  overflow: hidden;
}

.df-text-center{
  text-align: center;
}

.df-title-font{
  font-family:'Sanchez', serif;
  font-size: 1.5em;
  letter-spacing: .01em;
  line-height: 1.4em;
}

.df-text-p-md {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.2em;
  letter-spacing: .01em;
  line-height: 2.4em;
}

.df-text-color-gd{
  color: #00CCFF;
}

.df-text-blond{
  font-weight: bold;
}
/* Definições de texto */

/* TAG GERAIS - FIM */


/* TELA DE LOGIN - INICIO */
.FrmLogin {
  width: 26.04166666666667%; /*300px / 1919 */
  height: 41.66666666666667%;
  border: 2px solid #00CCFF;
  padding: 10% !important;
  background-color: #f7f7f7;
  margin: 5% auto 0% auto;
  box-shadow: 5px 5px 5px 6px #888888;
  overflow: hidden;
}

.img-simbol-site{
  width: 56px;
  height: 54px;
  background-image: url("../images/simbol_medio.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  text-indent: -9999999px;
}

/* TELA DE LOGIN - FIM */
