/* TAG GERAIS - INICIO */
md-toolbar {
  border-bottom: 2px solid #ccc;
  background-color: white !important;
}

form {
  width: 30%;
  margin: 5% auto;
  border: 2px solid #ccc;
}

h3 {
  color: #BDBDBD;
  text-align: center;
}
/* TAG GERAIS - FIM */

.logoLogin{
  width: 20%;
  height: 30%;
  margin-bottom: 2%;
}
